<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <header>
            <h1>Manchkin!</h1>
            <div class="moto">Воруй гусей<br>убивай друзей!</div>
            <div class="auth-bar-container">
                <div class="auth-bar">
                    <a href>Auth</a> / <a href>Register</a>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <aside>
                <ul class="nav">
                    <li><a class="current" href="">Main page</a>
                    <li><a href="">Game rules</a>
                    <li><a href="">Find game</a>
                    <li><a href="">Create lobby</a>
                </ul>
            </aside>
            <div class="main-block">
                @RenderBody()
            </div>
            <footer>
                Все права защищены шариатом <br/>
                <span class="small">
                    Товарный знак "Мамка Влада" принадлежит соответствующим владельцам.
                </span>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>