@using Munchkin_Online.Core.Auth
@using Munchkin_Online.Models

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/js/Core")
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>Munchkin!</h1>
                <div class="moto">Убивай гусей<br>подставляй друзей!</div>
                <div class="auth-bar-container">
                    <div class="auth-bar">
                        @if(!Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Регистрация", "Register", "Accounts")
                        }
                        else
                        {
                            @("Привет, " + CurrentUser.Instance.Current.Nickname + " / ")@Html.ActionLink("Выход", "Logout", "Accounts")
                        }
                    </div>
                    @if(!Request.IsAuthenticated)
                    {
                        <div class="auth">
                            <div class="container">
                                @using (Html.BeginForm("Login", "Accounts"))
                                {
                                    <input type="text" name="Email" placeholder="Email"/>
                                    <input type="password" name="Password" placeholder="Password"/>
                                    <input type="submit" value="Вход"/>
                                }
                            </div>
                            <div class="social">
                                <a class="vk"></a>
                                <span>Connect!</span>
                                <a class="twitter"></a>
                            </div>
                            <div class="control"></div>
                        </div>
                    }
                    else
                    {
                        <div class="friends">
                            <div class="container" hidden>
                            @if (CurrentUser.Instance.Current.Friends.Count != 0)
                            {
                                foreach (User friend in CurrentUser.Instance.Current.Friends)
                                {
                                    <p @(friend.State == State.Offline ? "class=offline" : "")>@friend.Nickname</p>
                                }
                            }
                            else
                            {
                                <p>No friends</p>
                                <p>Cry</p>
                            }
                            </div>
                            <div class="control down"></div>
                        </div>
                    }
                </div>
            </header>
            <aside>
                <ul class="nav">
                    <li><a @(ViewBag.pageID == Munchkin_Online.Core.PageID.PAGE_MAIN ? "class=current" : "") href="/">Main&nbsp;page</a>
                    <li><a @(ViewBag.pageID == Munchkin_Online.Core.PageID.PAGE_RULES ? "class=current" : "") href="/rules/">Game&nbsp;rules</a>
                    <li><a @(ViewBag.pageID == Munchkin_Online.Core.PageID.PAGE_FIND_GAME ? "class=current" : "") href="/Game/Find">Find&nbsp;game</a>
                    <li><a @(ViewBag.pageID == Munchkin_Online.Core.PageID.PAGE_CREATE_LOBBY ? "class=current" : "") href="">Create&nbsp;lobby</a>
                </ul>
            </aside>
            <div class="main-block">
                @RenderBody()
            </div>
        </div>
        <footer>
            Все права защищены шариатом <br/>
            <span class="small">
                Товарный знак "Мамка Влада" принадлежит соответствующим владельцам.
            </span>
        </footer>
        <div class="notification">
            <p></p>
            <div class="scroll left"></div>
            <div class="scroll center"></div>
            <div class="scroll right"></div>
        </div>
        @Scripts.Render("~/js/LongPool")        
        @RenderSection("scripts", required: false)
    </body>
</html>